<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapped.mybatis.dao.PersonDao">

    <select id="selectPerson" parameterType="int" resultType="hashmap">
        SELECT * FROM person WHERE id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO person (`name`) VALUES (#{name})
    </insert>

    <insert id="saveNone">
        INSERT INTO person (`name`) VALUES (#{name})
    </insert>
</mapper>